<div class="center hero-unit">
  <h1>Welcome to the P Patch Planner</h1>

  <h2>
    This is the home page for the P Patch Planner.
  </h2>

  <div>
    <%= link_to "What's new in news", news_posts_path %>
  </div>

</div>

