<div class="center hero-unit">
  <h1>Welcome to the P Patch Planner</h1>

  <h2>
    This is the home page for the P Patch Planner.
  </h2>

  <%= @forecast %>

  <div>
    <%= link_to "What's new in news", news_posts_path %>
  </div>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

