<div class="center hero-unit">
  <h1>Welcome to the P Patch Planner</h1>

  <h2>
    This is the home page for the P Patch Planner.
  </h2>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div><br>
  <% end %>

  Current weather: <b><%= @forecast %></b> </br>

  <div>
    <% @news_posts.each do |news_post| %>
      <%= render "partials/news_post", news_post: news_post %>
    <% end %>
  </div>

</div>

