<h1>Listing news_posts</h1>


<% @news_posts.each do |news_post| %>
  <%= render "partials/news_post", news_post: news_post %>
<% end %>

<br>

<%= link_to 'New News post', new_news_post_path %>
</br>
<%= link_to 'Front page', root_path %>
