<p id="notice"><%= notice %></p>

<h1>Listing users</h1>

<% @users.each do |user| %>
  <br/>
  <%= render "partials/user", user: user %>
  <%= link_to 'Edit', edit_user_path(user) %>
  <br/>
<% end %>

<br/>

<%= link_to 'Front page', root_path %>
